<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wall Street</title>
  </head>
  <body>

    <h1>Stock Quote Search</h1>
    <hr>

     <%= yield %>

    <hr>
    <footer>
      &copy; jamie 2019
    </footer>

  </body>
</html>
