<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sinatralator</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <h1>SINATRALATOR</h1>

    <hr>

    <%= yield %>

    <hr>
    <footer>
      &copy; Jamie 2019
    </footer>

  </body>
</html>
