<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Animals of the world: A visual guide</title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>

    <h1>Animals of the world: A visual guide</h1>

  <hr>

  <nav>
   <a href="/">Home</a>
   <a href="/animals">Index</a>
   <a href="/animals/new">Add Animal</a>
   <a href="/animals/1">Animal 1</a>
   <a href="/animals/2">Animal 2</a>
   <a href="/animals/3">Animal 3</a>
   
 </nav>

   <%#Put the specific route template here!%>

   <%= yield %>

  <hr>

  <footer>
    &copy; Round Boys Productions 2019
  </footer>

  </body>
</html>
