<h2>Let's calculate!</h2>

<form action="/calc/answer" method ="get">

  <label>
    First number: <input type="text" name="first_num">
  </label>

  <label>
    operation: <input type="text" name="operation">
  </label>

  <label>
    second number: <input type="text" name="second_num">
  </label>

  <input type="submit" value="calculate!">

</form>
