<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fantastic Sinatra Site</title>
  </head>
  <body>
    <nav>
      <marquee>
        Worlds best site!!!
      </marquee>
    </nav>

    <!-- insert the actual erb template i asked for here-->
    <%= yield %>

    <footer>
      &copy; Jamie 2019
    </footer>

  </body>
</html>
